@font-face {
  font-family: Univia;
  font-weight: normal;
  src: url("../font/UniviaPro-Medium.ttf");
}

@font-face {
  font-family: Univia;
  font-weight: 200;
  src: url("../font/UniviaPro-Thin.otf");
}

@font-face {
  font-family: Univia;
  font-weight: bold;
  src: url("../font/UniviaPro-Bold.ttf");
}

@font-face {
  font-family: Univia;
  font-weight: 900;
  src: url("../font/UniviaPro-Black.ttf");
}

body {
  font-family: Univia, Arial, Helvetica, sans-serif !important;
}

tbody tr.MuiTableRow-root:nth-child(odd) {
  background-color: rgba(31, 147, 76, 0.2);
}

.row .inline {
  display: inline;
}
.row .white_space {
  display: block;
  margin-left: 0.5em;
}

.row .height_space {
  margin-top: 0.5em;
}

.centerItems {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex {
  display: flex;
}
.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.direction-column {
  flex-direction: column;
}

.mb-1 {
  margin-bottom: 1em;
}
.mt-1 {
  margin-top: 1em;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #1f934c;
}

::-webkit-scrollbar-thumb:hover {
  background: #1f934c;
}

.pointer {
  cursor: pointer;
}
